
#canvas {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 300px;
}

.grecaptcha-badge {
    bottom: 100px !important;
    z-index: 100;
}

.portfolio-description a {
    font-weight: bold;
    color: #0d6efd;
}
